asn1crypto==0.24.0
bcrypt==3.1.7
cffi==1.12.3
Click==7.0
cryptography==2.7
DateTime==4.3
dnspython==1.16.0
Flask==1.1.0
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.10.1
jwt==0.6.1
MarkupSafe==1.1.1
pycparser==2.19
pymongo==3.8.0
pytz==2019.1
six==1.12.0
Werkzeug==0.15.4
zope.interface==4.6.0
