{% extends 'page-layout/base.html'%} {% block content %}



<div id="form-wrapper" style="max-width:700px;margin:auto;">

<form class="border border-light p-5" action="{{url_for('insert_recipe')}}" method="POST">
<br>
<br>
<br>
  <p class="h4 mb-4 text-center">Add your own Recipe</p>
      
    <label for="textInput">Recipe Name</label>
      <input required type="text" id="name" name="name" class="form-control mb-4" placeholder="Recipe Name">
      
    <label for="textarea">Recipe Description</label>
      <textarea required id="description" name="description" class="form-control mb-4" placeholder="Recipe Description"></textarea>
      
    <label for="textarea">Ingredients</label>
      <textarea required id="ingredients" name="ingredients" class="form-control mb-4" placeholder="Put each ingredient on a new line."></textarea>
      
    <label for="textarea">Instructions</label>
      <textarea required name="instructions"  id="instructions" class="form-control mb-4" placeholder="Put each instruction on a new line."></textarea>
      
    <label for="textInput">Image</label>
      <input required type="url" name="image" id="image" class="form-control mb-4" placeholder="http://url">
      
    <div class="meals_input" id="meals_input">
      <select class="selectpicker" required name="meals" class="meals" id="meals">
        <option value="" disabled selected>Pick a Meal type</option>
          {% for item in meal_types_file.category %}
        <option value="{{ item }}">{{ item| title }}</option>
          {% endfor %}
      </select>
    </div>
      <br>
      <br>

    <div class="allergen_input" id="allergen_input">
      <select class="selectpicker" multiple data-live-search="true"  name="allergen"  id="allergen">
        <option value="" disabled selected>Choose Allergen</option>
              {% for item in allergens_file.allergen %}
        <option value="{{ item }}">{{ item }}</option>
              {% endfor %} 
      </select>
    </div>
    <br>
    <br>

    <label for="textInput">Preparation Time</label>
      <input required type="text" name="preparation" id="preparation" class="form-control mb-4" placeholder="Preparation Time">
      
    <label for="textInput">Cooking Time</label>
      <input required type="text" name="cooking" id="cooking" class="form-control mb-4" placeholder="Cooking Time">
      
    <label for="textInput">Servings</label>
      <input required type="number" id="servings" name="servings" class="form-control mb-4" placeholder="Serving size">
      

    <input class="btn btn-info btn-block my-4" type="submit" value="add entry" id="add">
    
      
</form>
              
</div>




{% endblock %}