{% extends 'page-layout/base.html'%} {% block content %}


<div id="form-wrapper" style="max-width:700px;margin:auto;">

  <form class="border border-light p-5" action="{{url_for('update_recipe', recipe_id=recipes._id)}}" method="POST">
    <br>
    <br>
    <br>
    <p class="h4 mb-4 text-center">Edit your Recipe</p>



    <label for="textInput">Recipe Name</label>
    <input required type="text" id="name" name="name" class="form-control mb-4" value="{{ recipes.name }}">



    <label for="textarea">Recipe Description</label>
    <textarea required id="description" name="description"
      class="form-control mb-4">{{ recipes.description }}</textarea>



    <label for="textarea">Ingredients</label>
    <textarea required id="ingredients" name="ingredients"
      class="form-control mb-4">{{ recipes.ingredients }}</textarea>



    <label for="textarea">Instructions</label>
    <textarea required name="instructions" id="instructions"
      class="form-control mb-4">{{ recipes.instructions }}</textarea>



    <label for="textInput">Image</label>
    <input required type="url" name="image" id="image" class="form-control mb-4" value="{{ recipes.image }}">



    <!----------------- meal_types category------------->

    <div class="meals_input" id="meals_input">
      {% if recipes.meals == [] %}
      <select class="selectpicker" required name="meals" id="meals">
        <option value="" disabled selected>Pick a Meal type</option>
        {% for item in meal_types_file.meals %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      {% endif%}

      {% if recipes.meals != [] %}
      {% for meals in recipes.meals %}
      <select name="meals" class="meals">
        <option selected>{{ meals }}</option>
        {% for item in meal_types_file.meals %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      {% endfor %}
      {% endif%}
    </div>
    <br>
    <br>

    <!-----------------meal_typess category------------->
    <!----------------- allergen category------------->

    <div class="allergen_input" id="allergen_input">
      {% if recipes.allergen == [] %}
      <select class="selectpicker" multiple="true" name="allergen" id="allergen">
        <option value="" disabled selected>Choose Allergen</option>
        {% for item in allergens_file.allergen %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      {% endif%}

      {% if recipes.allergen != [] %}
      {% for allergens in recipes.allergen %}
      <select name="allergen" class="allergen">
        <option selected>{{ allergens }}</option>
        {% for item in allergens_file.allergen %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      {% endfor %}
      {% endif%}
    </div>
    <br>
    <br>

    <!----------------- allergen category------------->

    <label for="textInput">Preparation Time</label>
    <input required type="text" name="preparation" id="preparation" class="form-control mb-4"
      value="{{ recipes.preparation }}">



    <label for="textInput">Cooking Time</label>
    <input required type="text" name="cooking" id="cooking" class="form-control mb-4" value="{{ recipes.cooking }}">



    <label for="textInput">Servings</label>
    <input required type="number" id="servings" name="servings" class="form-control mb-4"
      value="{{ recipes.servings }}">



    <input class="btn btn-info btn-block my-4" type="submit" value="add entry" id="add">


  </form>

</div>


{% endblock %}