{% extends 'page-layout/base.html' %} {% block content %}



<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://www.themealdb.com/images/media/meals/utxryw1511721587.jpg"> <!-- breakfast image -->
      <div class="caption center-align">
        <h3>Breakfast!</h3>
        <h5 class="light grey-text text-lighten-3">Start your day right with our great breakfast recipes.</h5>
      </div>
    </li>
    <li>
      <img src="https://www.themealdb.com/images/media/meals/uvuyxu1503067369.jpg"> <!-- lunch image -->
      <div class="caption center-align">
        <h3>Lunch meals</h3>
        <h5 class="light grey-text text-lighten-3">Get great lunch recipes.</h5>
      </div>
    </li>
    <li>
      <img src="https://www.themealdb.com/images/media/meals/vussxq1511882648.jpg"> <!-- dinner image -->
      <div class="caption center-align">
        <h3>Dinner ideas</h3>
        <h5 class="light grey-text text-lighten-3">Cook resturant meals at home.</h5>
      </div>
    </li>
    <li>
      <img src="https://www.themealdb.com/images/media/meals/qtuuys1511387068.jpg"> <!-- Treats image -->
      <div class="caption center-align">
        <h3>Desert</h3>
        <h5 class="light grey-text text-lighten-3">Theres always room for Desert.</h5>
      </div>
    </li>
  </ul>
</div>

<!--cards for recipes-->
  <div class="row">
      

    <div class="column">
      <div class="card small">
        <div class="card-image">
          <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
      
    <div class="column">
      <div class="card small">
        <div class="card-image">
          <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card small">
          <div class="card-image">
            <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="column">
          <div class="card small">
            <div class="card-image">
              <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
          
        <div class="column">
          <div class="card small">
            <div class="card-image">
              <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    
        <div class="column">
            <div class="card small">
              <div class="card-image">
                <img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
  </div>    
    
  










  {% endblock %}