{% extends 'page-layout/base.html' %} {% block content %}

<!--sticky footer-->
<div class="content-inside">

  <div class="row recipe-heading">
    <h2>All Recipes</h2>
  </div>



  <!-- Modal causing all page content to be hidden in the modals pop up function removed brackets and % signs from block content. search by button does nothing at the moment. on the index page searchby button/modal is working as it should-->


  <!-- modal button and connection to search box html -->
  <div class="row justify-content-center">
    <div class="search_categories_btn">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Search by:
      </button>
      {% block search_box %}
      {% include 'pages/search_box.html' %}
      {% endblock search_box %}
    </div>
  </div>
  <!-- modal button and connection to search box html -->


  <div class="row justify-content-center">
    {% for recipe in recipes %}
    <div class="column">
      <div class="card h-100" style="width: 18rem;">
        <a href="{{ url_for('single_recipe', recipe_id=recipe._id)}}">
          <img class="card-img-top" src="{{ recipe.image }}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>

          <p class="card-text">{{ recipe.description |truncate(60) }}</p>


          <!-- meal type drop down selector-->
          <div class="meal_types-card">
            <div><b>Meal types</b></div>
            <span>{{ recipe.meals }}</span>
          </div>

          <!-- allergen drop down selector-->
          <div class="allergen-card">
            <div><b>Allergens</b></div>
            <span>{{ recipe.allergen }}</span>
          </div>


          <!--read more button wired to single page recipe-->
          <a href="{{ url_for('single_recipe', recipe_id=recipe._id)}}" class="btn-readmore">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>



</div>
</div>




{% endblock %}