{% extends 'page-layout/base.html' %} {% block content %}

<!--sticky footer-->
<body class="d-flex flex-column">
  <div id="page-content">


    <div class="row recipe-heading">
      <h2>Recipes</h2>
    </div>

    <!-- Button trigger modal to drop down search box for categories -->
    <div class="row justify-content-center">
      <div class="search_categories_btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Search by Categories:
        </button>
      </div>
    </div>

    <!-- modal for searching cuisine allergen or ingredients -->
    {% block search_box %}
    {% include 'pages/search_box.html' %}
    {% endblock search_box %}




    <div class="row justify-content-center">
      {% for the_recipe in recipes %}
      <div class="column">
        <div class="card" style="width: 18rem;">

          <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/vussxq1511882648.jpg"
            alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">{{ the_recipe.name }}</h5>

            <p class="card-text">{{ the_recipe.description }}</p>
            <!--read more button wired to single page recipe-->
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>

      </div>
      {% endfor %}



<!--sticky footer-->
    </div>
</body>

{% endblock %}



<!--
def recipe_data():
data = {
"name": request.form.get('recipe_name'),
"description": request.form.get('description'),
"ingredients": request.form.get('ingredients'),
"instructions": request.form.get('instructions'),
"image": request.form.get('image'),
"cuisine": request.form.getlist('cuisine'),
"allergens": request.form.getlist('allergens'),
"prep": request.form.get('prep_time'),
"cook": request.form.get('cook_time'),
"servings": request.form.get('servings'),
"username": session['username']
}
return data
-->