{% extends 'page-layout/base.html' %} {% block content %}

<main class="content">
  <!-- Section: Create an account -->
  <section>

    <div id="register-wrapper" class="container">
      <div class="row">
        <div class="col-12">
          <h1>Registration</h1>
          <hr>
        </div>
      </div>


<!--register page-->
<section>
<div class="register-signin-page register-page">
  <div id="inner-register-page" class="inner-register-page">
      <h2>Registration</h2>

      <form name="registrationform"  action="{{url_for('register')}}"  method='POST'>

          <div class="col-xs-12">
              <label class="inline hidden-xs" for="register_username">User Name:</label>
              <input class="inline" type="text" id="register_username" name="register_username" placeholder="User Name" required/>
          </div>

          <div class="col-xs-12">
              <label class="inline hidden-xs" for="register_email">email:</label>
              <input class="inline" type="email" id="register_email" name="email" placeholder="register_email" required/>
          </div>

          <div class="col-xs-12">
              <label class="inline hidden-xs" for="register_password">Password:</label>
              <input class="inline" type="password" id="register_password" name="register_password" placeholder="password" required/>
          </div>

          <div class="col-xs-12">
              <label class="inline hidden-xs" for="comfirm_password">Re-enter Password:</label>
              <input class="inline" type="password" id="comfirm_password" name="comfirm_password" placeholder="Confirm password" required/>
          </div>
          
          <input class="inline" type="submit" value="Submit" />
          <p class="register-close-btn close-btn inline">Close</p>
      </form>
  </div>
</div>
</section>
{% endblock %}