{% block search_box %}

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="POST" action="{{ url_for('ingredients_search') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search by Ingredient, Meal Type or Allergen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </form>

        <div class="modal-body">

          <!-- Search box for ingredients -->
          <div class=search_bar>
          <input class="search_bar" type="text" placeholder="Search by Ingredients" aria-label="Search"
            name="ingredient_search" id="ingredient_search">
          </div>
          <br>

          <!-- meals selector -->
          <div class="row selectors">
            <div class="dropdown">
              <!--dynalically generated data insert-->
              <div class="meals_input" id="meals_input">
                  <form method="POST" action="{{ url_for('meals_search') }}">
                    <select class="selectpicker" name="meals_data" id="meals_data">
                      <option value="" disabled selected>Pick a Meal type</option>
                        {% for item in meal_types_file.meals %}
                      <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                  </form>
              </div>
            </div>

            <!-- Allergen selector -->
            <div class="dropdown">
              <!--dynalically generated data insert-->
              <div class="allergen_input" id="allergen_input">
                  <form method="POST" action="{{ url_for('allergen_search') }}">
                  <select class="selectpicker" multiple="true" name="allergen_data" id="allergen_data">
                    <option value="" disabled selected>Search Allergen</option>
                    {% for item in allergens_file.allergen %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                  </select>
                  </form>
                </div>
            </div>
          </div>



          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            <!--button to send selected and display results-->
            <button type="submit" class="btn btn-primary">Search</button>
          </div>

        </div>
      
  </div>
</div>



{% endblock search_box %}