{% block search_categories %}



<div class="row justify-content-center">
  <div class="search-box">
    <p class=" hidden-xs"><b>Search Recipes by Ingredients, Cuisine and Allergens:</b></p>

    <button type="button" class="btn btn-outline-primary waves-effect">Search by Categories</button>

    <!-- Search bar for search ingredients -->
    <div class="active-cyan-3 active-cyan-4 mb-4 col-md-6 col-sm-12">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <!-- Cuisine dropdown selector for search -->
  <select class="selectpicker" required name="cuisine" class="cuisine" id="cuisine">
    <option value="" disabled selected>Pick a Cuisine</option>
    {% for item in cuisine_json.cuisine|sort %}
    <option value="{{ item }}">{{ item| title }}</option>
    {% endfor %}
  </select>

  <!-- allergens dropdown selector for search -->
  <select class="selectpicker" multiple data-live-search="true" name="allergen" id="allergen">
    <option value="" disabled selected>Choose Allergen</option>
    {% for item in allergens_json.allergen %}
    <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </select>


  {% endblock search_categories %}