{% block search_box %}

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- all three search options in one form linking to one url search categories -->
    <form method="POST" action="{{ url_for('search_categories') }}"> <!--search by all three -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search by Ingredient, Meal Type or Allergen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <!-- Search box for ingredients -->
          <div class=search_bar>
            <input class="search_bar" type="text" placeholder="Ingredients" aria-label="Search"
              name="ingredients_search" id="ingredients_search">
          </div>
          <br>

          <!-- meals selector -->
          <div class="row selectors">
            <div class="dropdown">
              <!--dynalically generated data insert-->
              <div class="meals_input" id="meals_input">
                <select class="selectpicker" name="meals_search" id="meals_search">
                  <option value="" disabled selected>Meal types</option>
                  {% for item in meal_types_file.meals %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- Allergen selector -->
            <div class="dropdown">
              <!--dynalically generated data insert-->
              <div class="allergen_input" id="allergen_input">
                <select class="selectpicker" multiple="true" name="allergen_search" id="allergen_search">
                  <option value="" disabled selected>Allergen</option>
                  {% for item in allergens_file.allergen %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            <!--button to send selected and display results-->
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </form>
    <!-- one form closeing all three search options -->
  </div>

</div>




{% endblock search_box %}