{% extends 'page-layout/base.html' %} {% block content %}

<!--Sign in page-->
<div class="register-signin-page signin-page" {% if 'flash-message' in session %}style="display:block;" {% endif %}>
  <div class="inner-signin-page">
      <h2>Sign In</h2>
      
      <!--On a unsuccessful sign in attempt the session['flash-message'] variable becomes active
          and the following becomes active  -->
      {% if 'flash-message' in session %} {% with messages = get_flashed_messages()%} {% if messages %} {% for message in messages %}
      <p class="flash-message">{{ message }}</p>

      {% endfor %} {% endif %} {% endwith %} {% endif %}
      <form action="{{url_for('signin')}}"flask
      method='POST'>
          <div class="col-xs-12">
              <input class="inline" type="text" id="signin_username" name="signin_username" placeholder="User Name" required/>
          </div>
          <div class="col-xs-12">
              <input class="inline" type="signin_password" id="signin_password" name="signin_password" placeholder="Password" required/>
          </div>

          <input class="inline" type="submit" value="Submit" />
          <p class="register-close-btn close-btn inline">Close</p>
      </form>
  </div>

</div>

{% endblock %}