{% extends 'page-layout/base.html'%} {% block content %}

<div class="content-inside">
  <div class="row recipe-heading">
    <h1>{{ recipe.name }}</h1>
  </div>

  <!-- Page Layout -->
  <div class="page-container section">
    <div class="row">

      <!--Image-->
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ recipe.image }}" alt="Picture of {{ recipe.name }}">
      </div>

      <div class="col-md-7">
        <div class="description">
          <h4>{{ recipe.description }}</h4>
        </div>

        <div class="line-divider"></div>
        <!----------------------------------------------------------->
        <div class="row-cook-serve-prep">
          <div class="column-single-recipe">
            <!--preparation-->
            <div class="prep">
              <h4 class="inline">Prep Time :</h4> {{ recipe.preparation }}
            </div>

            <!--cooking-->

            <div class="clock"><i class="far fa-clock"></i>
              <h4 class="cooktime-title"> Cook Time :</h4> {{ recipe.cooking }}
            </div>

            <!--servings-->
            <div class="servings"><i class="fas fa-utensils"></i>
              <h4 class="inline">Servings :</h4> {{ recipe.servings }}
            </div>
            <div class="selector-container">
              <!-- meal type drop down selector-->
              <div class="meal_types">
                <div>
                  <h3>Meal types</h3>
                </div>
                {% for item in recipe.meals %}
                <span>{{ item }}</span>
                {% endfor %}
              </div>

              <!-- allergen drop down selector-->
              <div class="allergen">
                <div>
                  <h3>Allergens</h3>
                </div>
                {% for item in recipe.allergen %}
                <span>{{ item }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      
        <!----------------------------------------------------------->
        <!--ingredients-->
        <div class="column-single-recipe">
          <div class="section">
            <h4 class="left-align ingredients-section">Ingredients</h4>
            <p class="section recipe-ingredients" style="white-space: pre-wrap;">{{ recipe.ingredients }}</p>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------->

    <!--instructions-->
    <div class="container">
    <div class="row-instructions ">
      <h4 class="instructions_heading">Instructions</h4>
      <p class="section recipe-instructions">{{ recipe.instructions }}</p>
    </div>
  </div>

  </div>
</div>

{% endblock %}