/* colors */

/* Primary colors */
/* Cyan
hsl(184, 91%, 17%) darkest
hsl(185, 84%, 25%)
hsl(185, 81%, 29%)
hsl(184, 77%, 34%)
hsl(185, 62%, 45%)
hsl(185, 57%, 50%)
hsl(184, 65%, 59%)
hsl(184, 80%, 74%)
hsl(185, 94%, 87%)
hsl(186, 100%, 94%) lightest
*/
/* Neutral colors */
/* Blue Grey 
hsl(209, 61%, 16%) darkest
hsl(211, 39%, 23%)
hsl(209, 34%, 30%) /8/
hsl(209, 28%, 39%)
hsl(210, 22%, 49%)
hsl(209, 23%, 60%)
hsl(211, 27%, 70%)
hsl(210, 31%, 80%)
hsl(212, 33%, 89%) /2/
hsl(210, 36%, 96%) lightest
*/

/* font */
/* Roboto */
/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');*/

/* font sizing */
/* 12px 14px 16px 18px 20px 24px 30px 36px 48px 60px 72px */ 

/* box shadows */
/* (0 1px 3px hsla(0,0%, 0% .2); */  /* smallest/lightest */
/* (0 4px 6px hsla(0,0%, 0% .2); */
/* (0 5px 15px hsla(0,0%, 0% .2); */
/* (0 10px 24px hsla(0,0%, 0% .2); */
/* (0 15px 35px hsla(0,0%, 0% .2); */ /* largest/darkest */

/* border radius */




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

/*--------------------------------------- nav bar */

nav .brand-logo{
  position: absolute;
  color: hsl(186, 100%, 94%);
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  background-color: hsl(209, 61%, 16%); /*darkest*/
  margin-left: 20px;
}

nav  {
  color: hsl(186, 100%, 94%);
  background-color: hsl(209, 61%, 16%); /*darkest*/
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav a {      /* 3 lined button */
  color: hsl(186, 100%, 94%);
}



/*---------------------------------------- footer */
/* ------sticky footer---- */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  background-color: hsl(210, 36%, 96%);
}

#main {
  overflow:auto;
  padding-bottom: 80px;
}

#footer {
  position: relative;
  background-color: hsl(209, 61%, 16%); /*darkest*/
  height: 80px;
  margin-top: -80px;
  clear: both;
}
/* ------sticky footer---- */

footer {
  width: 100%;
  text-align: center;
}

#github-icon {
  margin-top: 10px;
  color: hsl(186, 100%, 94%);
  font-size: 35px;
}

.web-developer {
  color: hsl(186, 100%, 94%);
  margin: 0;
}



/*--------------------------------------Home Page */






/* -----------------------------------buttons */
.btn_del {
  text-decoration: none;
  color: hsl(186, 100%, 94%);
  background-color: red;
  text-align: center;
  letter-spacing: .5px;
}

.btn_edit {
  text-decoration: none;
  color: hsl(186, 100%, 94%);
  background-color: blue;
  text-align: center;
  letter-spacing: .5px;
}

/*-------------------------------------Forms*/
.main-container {
  background-color: hsl(212, 33%, 89%);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}

legend {
  text-align: center;
}

input[type=checkbox] {
  height: 17px;
  width: 17px;
}

fieldset select,
fieldset input:not([type=checkbox]):not([type=submit]),
input[type=text]:not(.browser-default) {
  background-color: hsl(210, 36%, 96%);
  border: 1px solid #9e9e9e;
  border-radius: 6px;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: 0 5px 15px hsla(0,0%, 0% .2);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 30px;
  width: 500px;
}

input:not([type=checkbox]):not([type=submit]) {
  border-radius: 6px;
}

form fieldset {
  margin-bottom: 12px;
}

form legend {
  margin-bottom: 5px;
  font-weight: bold;
}

fieldset {
  border: 0;
}

textarea {
  display: inline-block;
  width: 500px;
  height: 150px;
  border-radius: 6px;
  background-color: hsl(210, 36%, 96%);
  border: 1px solid #9e9e9e;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: 0 5px 15px hsla(0,0%, 0% .2);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*------------------allergens section in form */
.allergens_container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.allergen_checkbox {
  width: 33%;
  display: flex;
}

.allergen_checkbox input {
  flex: 2;
}

.allergen_checkbox p {
  flex: 3;
  text-align: left;
}

/*-------------- cuisine, ingredients and instruction section */
.input-field label {
  color: hsl(209, 61%, 16%);
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: -10px;
  font-size:20px;
  


}


textarea.materialize-textarea,
input[type=text]:not(.browser-default),
input[type=url]:not(.browser-default){
  background-color: hsl(210, 36%, 96%);
  width: 500px;
  border-style: inset;
  border: 2px solid #9e9e9e;
  border-radius: 6px;
}






/*------------------*/
.add-recipe-title{
  text-align: center;
}

.cuisine,
.ingredients,
.instructions {
  margin-left: 30px;
  margin-bottom: 3px;
}

.ingredients,
.instructions {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.margin-left {
  margin-left: 50px;
}

.margin-left-45 {
  margin-left: 45.5px;
  margin-bottom: 3px;
}

.spacer {
  display: inline-block;
  width: 520px;
  height: 20px
}

/* media query for max width of 767px */
@media (max-width: 767px) {
  fieldset select,
  fieldset input:not([type=checkbox]):not([type=submit]) {
   width: 60%;
  }

textarea {
  width: 60%;
}

.allergens_container {
  display: block;
  width: 60%;
}

.allergen_checkbox {
  width: 100%;

}

.spacer {
  width: 60%;
  height: 20px;
  margin-left: 30px;
}
.margin-left {
  margin-left: 50px;

}
.first-add {
  left: -2.5px;
}

}
/* End of media queries for max width of 767px */

/* media query for min width of 768px mac width of 991px */
@media (min-width: 768px) and (max-width: 991px) {
  fieldset select,
  fieldset input:not([type=checkbox]) {
      width: 500px;
  }

  textarea {
    width: 500px;
}

input[type=checkbox] {
  float: left;
}

.close-btn,
input[type=submit] {
    width: 80px;
    height: 30px;
    background-color: #fff;
    color: hsl(185, 57%, 50%);
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0;
}

.pointer {
  cursor: pointer;
}

.allergens {
  display: inline-block;
}

table {
  display: inline-block;
}

#instructions_fieldset {
  position: relative;
}

}
/* End of media queries for min width of 768px max width of 991px */

@media only screen and (min-width: 993px){
.container {
  width: 75%;
}
}