.p-4{
    padding: 1.5rem!important;
    margin-top: 100px;
}

.btn-search {
    color: #fff;
    background-color: #ed6a5a;
    border: 1px solid #ed6a5a;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
}