/* colors */

/* Primary colors */
/* Cyan
hsl(184, 91%, 17%) darkest
hsl(185, 84%, 25%)
hsl(185, 81%, 29%)
hsl(184, 77%, 34%)
hsl(185, 62%, 45%)
hsl(185, 57%, 50%)
hsl(184, 65%, 59%)
hsl(184, 80%, 74%)
hsl(185, 94%, 87%)
hsl(186, 100%, 94%) lightest
*/
/* Neutral colors */
/* Blue Grey 
hsl(209, 61%, 16%) darkest
hsl(211, 39%, 23%)
hsl(209, 34%, 30%)
hsl(209, 28%, 39%)
hsl(210, 22%, 49%)
hsl(209, 23%, 60%)
hsl(211, 27%, 70%)
hsl(210, 31%, 80%)
hsl(212, 33%, 89%)
hsl(210, 36%, 96%) lightest
*/

/* font */
/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* font sizing */
/* 12px 14px 16px 18px 20px 24px 30px 36px 48px 60px 72px */ 

/* box shadows */
/* (0 1px 3px hsla(0,0%, 0% .2); */  /* smallest/lightest */
/* (0 4px 6px hsla(0,0%, 0% .2); */
/* (0 5px 15px hsla(0,0%, 0% .2); */
/* (0 10px 24px hsla(0,0%, 0% .2); */
/* (0 15px 35px hsla(0,0%, 0% .2); */ /* largest/darkest */

/* border radius */



/*--------------------------------------- nav bar */
nav .brand-logo{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  background-color: hsl(209, 61%, 16%);
  margin-left: 20px;
}

nav  {
  color: #fff;
  background-color: hsl(209, 61%, 16%);
  width: 100%;
  height: 56px;
  line-height: 56px;
}



/*---------------------------------------- footer */
footer, container-fluid centering {
  position: absolute;
  background-color: hsl(209, 61%, 16%);
  height: 130px;
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  text-align: center;;
}

#github-icon {
  color: #fff;
  font-size: 35px;
  margin-top: 10px;
}

.web-developer {
  color: #fff;
  margin: 0;
}

/*---------------------------------------body*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 150px;
  background-color: hsl(210, 36%, 96%);
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-size: 16.5px;
  background-image: url(#);
  background-size: cover;
  background-attachment: fixed;
}

.main-container {
background-color: hsl(212, 33%, 89%);
padding: 20px;
margin-top: 20px;
margin-bottom: 50px;
border-radius: 10px;
box-shadow: 0 5px 15px hsla(0,0%, 0% .2);

}

