{% extends 'base.html' %} {% block content %}
<div class="add-recipe-title">
    <h3>Add Recipe</h3>
</div>
<main class="container main-container">
    <div class="row">
        <div class="center col-xs-12">
        <form name="add_form" onSubmit="return valid_image()" class="" action="{{url_for('insert_recipe')}}" method="POST">
        
    
<!--recipe name-->      
            <div class="input-field col s12">
                <input placeholder="Recipe Name" id="name" name="name" type="text" class="validate">
                <label for="name">Recipe Name</label>
            </div>


<!--Recipe Description-->      
            <div class="input-field col s12">
                <textarea placeholder="Recipe Description" id="description"
                class="materialize-textarea"></textarea>
                <label for="description">Recipe Description</label>
            </div>


<!--Ingredients-->      
            <div class="input-field col s12">
                    <input placeholder="Ingredients" id="instructions" name="instructions" type="text" class="validate">
                    <label for="instructions">Ingredients</label>
                    <div class="spacer inline"></div>
                    <i id="firsta" class="material-icons first-add duplicate pointer">add</i>
            </div>


<!--Instructions-->      
            <div class="input-field col s12">
                    <input placeholder="Instructions" id="Instructions" name="Instructions" type="text" class="validate">
                    <label for="name">Instructions</label>
                    <div class="spacer inline"></div>
                    <i id="firsta" class="material-icons first-add duplicate pointer">add</i>
            </div>


<!--image-->      
            <div class="input-field col s12">
                    <input placeholder="http://url" id="Image" name="Image" type="url" class="validate">
                    <label for="name">Image</label>
            </div>


<!--cuisine-->
            <div class="input-field col s12">
                    
                    <select>
                      <option value="" disabled selected>Choose your option</option>
 <!-- pulls items from mongo db data database from cuisine collection and sorts alphabeticly -->
                    {% for item in cuisine_json.cuisine|sort %}
                        <option value="{{ item }}">{{ item| title }}</option>
                    {% endfor %}
                    <label>Cuisine</label>
                    </select>
                    
            </div>


<!--allergen-->
            <div class="input-field col s12">
                <select>
                    {% for item in allergens_json.allergens %}
                    <div class='allergen_checkbox'>
                        <p>
                        <input type="checkbox" id="{{ item }}">
                        </p>
                    </div>
                    {% endfor %}
                </select>
                <label for="{{ item }}">Allergens</label>
            </div>
                                        
<!--Preperation time-->      
            <div class="input-field col s12">
                    <input placeholder="Preperation Time" id="prep" name="prep" type="text" class="validate">
                    <label for="prep">Preperation time</label>
            </div>                          
                                        
<!--Cooking time-->      
            <div class="input-field col s12">
                    <input placeholder="Cooking time" id="cook" name="cook" type="text" class="validate">
                    <label for="cook">Cooking time</label>
            </div>
                                        
<!--Servings-->      
            <div class="input-field col s12">
                    <input placeholder="Servings" id="servings" name="servings" type="text" class="validate">
                    <label for="servings">Servings</label>
            </div>
                                        
<!--Author-->      
            <div class="input-field col s12">
                    <input placeholder="Author" id="author" name="author"" type="text" class="validate">
                    <label for="author">Author</label>
            </div>
                                        
<!--Submit Save button-->
            <div class="center margin-bottom-20">
                <p id="image-validation"></p>
                    <input class="inline" type="submit" value="Save"/>
            </div>
        </form>
        </div>
    </div>
</main>

{% endblock %}