<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>

<body>
<div id="container">
    <div id="main">
 
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Taste</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li><a href="{{url_for('home')}}">Home</a></li>

                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>

                    <li><a href="{{url_for('add_recipe')}}">New recipe</a></li>

                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>

                </ul>
                <ul class="side-nav" id="mobile-demo">

                    <li><a href="{{url_for('home')}}">Home</a></li>

                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>

                    <li><a href="{{url_for('add_recipe')}}">New recipe</a></li>

                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>

                </ul>
            </div>
        </nav>
    </header>
            

    <!-- block content -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    </div>
</div>

<footer id="footer" class="container-fluid centering">
    <div class=" col-xs-12">
        <a href="https://github.com/CaseyScott" target="_blank"><i id="github-icon" class="fab fa-github"></i></a>
                <br>
        <p class="web-developer">©2019 Taste Recipe Web app</p>
    </div> 
</footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.js')}}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('select').material_select();
        $(".button-collapse").sideNav();
    });
</script>

</body>

</html>