{% extends 'base.html' %} {% block nav %} {% include 'navbar.html' %} {% endblock %} {% block content %}


<div id="container">
    <div id="main">

        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg"></a>

            <a class="carousel-item" href="#two!"><img src="https://www.themealdb.com/images/media/meals/thazgm1555350962.jpg"></a>

            <a class="carousel-item" href="#three!"><img src="https://www.themealdb.com/images/media/meals/x2fw9e1560460636.jpg"></a>

            <a class="carousel-item" href="#four!"><img src="https://www.themealdb.com/images/media/meals/8x09hy1560460923.jpg"></a>

            <a class="carousel-item" href="#five!"><img src="https://www.themealdb.com/images/media/meals/t3r3ka1560461972.jpg"></a>
            
        </div>
                      






    </div>
    <div class="row index-tagline-row">
        <div class="col-xs-12 center">
            <p class="index-tagline-p hidden-xs">Register to add your recipes</p>
        </div>
        
    </div>
    <div class="row index-btn-row">
        <div class="col-xs-12 center">
            {% if 'user' not in session%}
            <p class="signin-btn register-trigger">Sign Up</p>
            {% endif %}
            <p class="signin-btn "><a href="{{url_for('recipes')}}">Recipes</a></p>
        </div>
        
    </div>


    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $('.carousel').carousel();
    });
</script>
{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %} 